{
  "all": true,
  "exclude": ["test/", "node_modules", "coverage/", "utils/generateToken.js"],
  "reporter": ["lcov", "text"],
  "check-coverage": true,
  "branches": 30,
  "lines": 30,
  "functions": 30,
  "statements": 30
}
