{
  "all": true,
  "exclude": ["test/", "node_modules", "coverage/", "utils/generateToken.js"],
  "reporter": ["lcov", "text"],
  "check-coverage": true,
  "branches": 50,
  "lines": 75,
  "functions": 75,
  "statements": 75
}
